@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul ol{
    list-style: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header{
    width: 100%;
    min-height: 100vh;
    background-image: url(../img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}
.nav{
    width: 100%;
    display: block;
    padding: 20px 30px;
    border-bottom: 1px solid white;
}
.nav_list{
    width: 60%;
    margin: 0 auto;
}
.nav_item{
    display: inline-block;
    width: 32%;
    padding: 10px 20px;
    text-align: center;
}
.nav_link{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.main_title{
    font-size: 100px;
    color: white;
    margin-top: 50px;
    font-family: 'Inspiration', cursive;
    margin-left: 300px;
    letter-spacing: 15px;
    word-spacing: 20px;
    font-weight: bold;
}
.main_button{
    text-transform: capitalize;
    display: block;
    padding: 15px 130px;
    color: white;
    background-color: rgba(59, 63, 88, 0.5);
    opacity: 0.8;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 230px;
    border: 3px solid #5979A1D7;
}
.info_title{
    text-align: center;
    padding-top: 30px;
    font-size: 60px;
    font-family: 'Inspiration', cursive;
    padding-bottom: 30px;
}
.info_item{
    width: 70%;
    margin: 0 auto;
    border-bottom: 2px solid #CACACAFF;
    text-align: center;
}
.no_border{
    border: none;
}
.info_item p{
    display: inline-block;
    margin-left: 30px;
    text-transform: uppercase;
    padding: 20px 5px;
    width: 25%;
    color: #CACACAFF;
}
.info_span{
    width: 22%;
    font-weight: bold;
    font-family: 'Inspiration', cursive;
    font-size: 25px;
}
.info_button{
    width: 15%;
    margin-left: 30px;
    padding: 7px 1px;
    color: white;
    background-color:#76C6EEFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
}
.footer{
    margin-top: 30px;
    width: 100%;
    display: block;
    padding: 10px 30px;
    background-color: #77C5EFFF;
    color: white;   
}
.footer_list{
    display: inline-block;
    margin-left: 580px;
    font-family: 'Inspiration', cursive;
    width: 22%;
}
.footer_title{
    display: inline-block;
    font-family: 'Inspiration', cursive;
    font-size: 70px;
    letter-spacing: 5px;
    margin-left: 50px;
}
.footer_item{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}
.footer_link{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
